

body{
	font-family: 'Montserrat', sans-serif;
	width:100%;
	margin: 0 auto;
	font-size: 30px;
	background: url("../images/wavegrid.png");
}
/*wrapper*/
.wrapper{
	max-width: 1080px;
	margin: 10px auto 0;	
	overflow: hidden;
	max-width: 1024px;
	padding: 10px 10px 20px 10px;
}

.wrapper h1{
	color: white;
	width:; 100%;
	text-align: center;
	text-shadow: 2px 2px 5px #666;
	margin: 10px 0 0 0;
}
.wrapper p {
	font-size: 18px;
	text-align: center;
	margin: 10px 0px 52px 0px;
}
/*map canvas*/
#map_canvas {
	width: 70%;
	height: 500px;
	border: 1px solid rgba(48,168,166,0.8);
	float: left;
}

/*button*/
.buttonBox{
	width: 25%;
	float: left;
	margin-left: 4%;
	height: 500px;
	vertical-align: center;
}
.buttonBox button{
	width: 100%;
	padding: 20px;
	font-size: 15px;
	-webkit-font-smoothing: antialiased;
	background: none;
	border: 1px solid #30a8a6;
	font-family: futura;
	color: #30a8a6;
	margin: 0 0 20px 0;
	background-color: rgba(48,168,166,0.3);
}
.buttonBox button:hover, .buttonBox button:active, .buttonBox button:focus{
	background-color: rgba(48,168,166,0.6);
	color: white;
}






